[MASTER]
disable=
    C0114, # Missing module docstring
    C0115, # Missing class docstring
    C0116,  # Missing function or method docstring
    W0611   # Unused import because removed Weather API test
